<%- include('partials/header') %>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel = "icon" href =  "./img/headerlogo.png"    
  type = "image/x-icon">
  <link rel="stylesheet" href="/blog.css">
</head>

<div>
    <div class=" nav_btn my-3 p-3 d-flex justify-content-end">
    <!-- <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filter    
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">All</a></li>
          <li><a class="dropdown-item" href="#">Interviews</a></li>
          <li><a class="dropdown-item" href="#">Blogs</a></li>
          <li><a class="dropdown-item" href="#">Notices</a></li>
        </ul>
      </div> -->
    </div>

    <div class="container"> 
        <div class="row">
        
           <div class="col-12 col-sm-8 col-md-6 col-lg-4">

            

            <div class="card">
               
              <img class="card-img" src="/img/Blog_pic.png" alt="Bologna">
               
              
           
              <div >
                <p>No Post Found</p>
                <a href="#" class="btn btn-light btn-sm"> </a>
              </div>
               
               
                <div class="card-body " >
                  <h4 class="card-title"> </h4>
                  <small class="text-muted cat">
                    <i class="bi bi-pen">Author:</i>  
                  </small>

                  <p class="card-text " style=" overflow: auto;  height: 10rem; "> </p>
                  <a href="/" class="btn btn-info">Read More</a>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                 

                  <div class="views">Date: 
                  </div>
                  <div class="stats">
                      <i class="fa-solid fa-heart"></i> 
                     
                  </div>
                   
                </div>
              </div>
            </div>
              
        </div>
        
      </div>
</div>

<footer>
  <%- include('partials/footer') %>
</footer>
</body>
</html>


