.body{

    /* background-color: rgb(157, 33, 33); */

}
.compose{
    text-align: center;
    font-size: 30px;
    color: burlywood;
}
.form1{
    margin:5%;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(174, 182, 238);

}
.title_div{
    
    
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}
.dropdown1{
    text-align: center;
}
.post_btn
{
    display: flex;
    justify-content: center;
}

#content{
    /* background-color: rgb(77, 77, 172); */
    border-radius: 20px;
    padding: 20px;
    resize: none;
    width: 90%;
    color: black;
     
}
#content-div{
    display: flex;
    justify-content: center;
}
#submit{
    /* background-color: rgba(43, 107, 226, 0.658); */
    margin: 10px;
    height: auto;
    width:auto;
    color: rgb(35, 44, 58);
    font-family: "Times New Roman", Times, serif;
}
#title{
    font-family: "Lucida Console", "Courier New", monospace;
    width: 90%;
    padding: 10px;
    
}

p{
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}

#interview{
    
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#blog{
    
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#notice{
    margin: 0% 5%;
    padding: 1%;
    display: inline-block;
}
#interview:hover{
    background-color: rgb(210, 198, 198);
}
#blog:hover{
    background-color: rgb(210, 198, 198);
}
#notice:hover{
    background-color: rgb(210, 198, 198);
}

.type
{
    font-family: "Times New Roman", Times, serif;
     
}
#kk
{
     
    text-align: center;
    
  
}