
/* homepage */
.homepage{
    background-image: url(/img/welcome.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: 220vh;
    padding: 10px;
    position: relative;
}
#homepage-text{
  
    position: absolute;
    top: 15%;
    left: 25%;
    /* transform: translate(-50%, -50%); */
    font-size: 50px;
    color: #ff9933
    
}

/* Main Box Recent*/
#main_box {
    margin: 0px;
    padding: 10px ; 
    height: 70vh;
    border-radius: 10px;
    align-items: center;
}
.card {
    padding: 0px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px;
}


body {
    background-color: white;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: rgb(26,57,99) ;
  }
  
  /* /------------------------------------\
	Contact
\------------------------------------/ */

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: #6195FF;
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    margin-top: 40px;
}

.contact-form .input {
    margin-bottom: 20px;
}


.contact-form .input:nth-child(1), .contact-form .input:nth-child(2) {
    width: calc(50% - 10px);
}

.contact-form .input:nth-child(2) {
    margin-left: 15px;
}
.desc_color{
  color: white;
}